name: build
on:
  pull_request:
    branches: "**"
defaults:
  run:
    working-directory: ./test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          working-directory: ./test
      - run: cat config.yml
      - run: test -e Rakefile
      - run: test -e Gemfile
      - run: test -e Gemfile.lock
      - run: test -e chap1.re
      - run: test -e book.pdf
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: book
          path: ./test/book.pdf
